/**
 * RefPoint
 * CSS Framework
 * Logo replacement
*/
	#logo { margin:138px 0 48px 0; width:250px; height:70px; font-size:0; }
	#logo a { display:block; width:100%; height:100%; background:url(../img/mcms.logo.png) no-repeat; }
	#logo span { display:block; width:0; height:0; overflow:hidden; }
	
/**
 * Ordinary pages styling
*/
	/**
	 * Core
	*/
		body { background:#fff; }		
		div#content { width:300px; margin:0 auto; }

	/**
	 * Supplementary rules
	*/
