AddDefaultCharset utf-8
DirectoryIndex index.php

php_flag display_errors off
php_flag log_errors on

<IfModule mod_rewrite.c>
  RewriteEngine on

  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteRule ^(.*)$ ?__cleanurls=1&q=$1 [L,QSA]
</IfModule>
