AddDefaultCharset utf-8

<IfModule mod_deflate.c>
  AddOutputFilterByType DEFLATE application/javascript text/css
</IfModule>

<IfModule mod_rewrite.c>
  RewriteEngine on

  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_URI} ^/(attachment)/(.*)$
  RewriteRule ^.*$ att.php?folder=%1&q=%2 [L,QSA]

  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteRule ^(.*)$ ?__cleanurls=1&q=$1 [L,QSA]
</IfModule>
