tr.unpublished a {
  font-style: italic;
}

.hint {
  padding-right: 20px;
  background: transparent url(/themes/admin/img/help.gif) no-repeat center right;
}

a {
  outline: none;
}

td.r, th.r {
  text-align: right !important;
  font-style: normal;
}

.mceEditorContainer iframe {
  width: 100% !important;
}
.mceEditorContainer table.mceEditor > tbody > tr > td {
  padding: 0 !important;
}

#control-save-draft-wrapper,
#control-save-publish-wrapper,
#control-preview-wrapper {
  float: left;
  margin-right: 10px;
}

.grayout {
  background-color: #ccc;
}
.grayout a {
  color: gray;
}
	

/*  Карусель
------------------------------------------------------------------------------------------------------------------- */
.carousel {
  /* Дима???
  height: 14.68em;
  */

  height: 120px;
  overflow: hidden;
  width: 100%;
  margin: 1px 0;
  background-color: #faf5ec;
}
.carousel ul { list-style:none; list-style-position:outside; }
.carousel ul li { float:left; }
/* ---------------------------------------------------------------------------------------------------------------- */			

.carousel-control {
  position: absolute;
  top: 6px;
  left: 19px;
  margin: 0 !important;
}

tr.even {
  background-color: #efefef;
}

u.fakelink {
  color: blue;
  cursor: pointer;
}

form.inline {
  display: inline;
}

.nodelist {
  width: 100%;
}
.nodelist .field-filesize {
  text-align: right !important;
}
.nodelist .field-thumbnail {
  width: 50px;
  text-align: center !important;
}
.nodelist .selector,
.nodelist .field-updated,
.nodelist .field-created .field-filetype {
  width: 10px;
}
.nodelist .field-created,
.nodelist .field-updated {
  white-space: nowrap;
}
.nodelist .actions a {
  margin-right: 4px;
  font-style: normal;
}

table.modinfo {
  margin-top: 1em;
}
table.modinfo th {
  text-align: right;
}

.modlist th {
  background-color: #efefef;
  padding: 4px;
}
