tr.unpublished {
  font-style: italic;
}

.hint {
  padding-right: 20px;
  background: transparent url(/themes/admin/img/help.gif) no-repeat center right;
}

a {
  outline: none;
}

td.r, th.r {
  text-align: right !important;
  font-style: normal;
}

.mceEditorContainer iframe {
  width: 100% !important;
}
.mceEditorContainer table.mceEditor > tbody > tr > td {
  padding: 0 !important;
}

#control-save-draft-wrapper,
#control-save-publish-wrapper,
#control-preview-wrapper {
  float: left;
  margin-right: 10px;
}

.grayout {
  background-color: #ccc;
}
.grayout a {
  color: gray;
}
