.hint {
  padding-right: 20px;
  background: transparent url(../img/help.gif) no-repeat center right;
}

a {
  outline: none;
}

td.r, th.r {
  text-align: right !important;
  font-style: normal;
}

#control-save-draft-wrapper,
#control-save-publish-wrapper,
#control-preview-wrapper {
  float: left;
  margin-right: 10px;
}

u.fakelink {
  cursor: pointer;
}

form.inline {
  display: inline;
}

.nodelist {
  width: 100%;
}
.nodelist .field-filesize {
  text-align: right !important;
}
.nodelist .field-thumbnail {
  width: 50px;
  text-align: center !important;
}
.nodelist .selector,
.nodelist .field-updated,
.nodelist .field-created .field-filetype,
.nodelist .field-feedicon,
.nodelist .field-feedcheck
{
  width: 10px;
}
.nodelist .field-created,
.nodelist .field-updated {
  white-space: nowrap;
}
.nodelist .actions a {
  margin-right: 4px;
  font-style: normal;
}

table.modinfo {
  margin-top: 1em;
}
table.modinfo th {
  text-align: right;
  white-space: nowrap;
}
table.modinfo td,
table.modinfo th {
  vertical-align: top;
}

.modlist {
  margin-bottom: .5em;
}
.modlist th {
  padding: 4px;
}
.modlist a.icon span {
  display: none;
}
.modlist a.icon {
  display: block;
  width: 16px;
  height: 16px;
}
.modlist .configure {
  background: transparent url(../img/configure.png) no-repeat top left;
}
.modlist .information {
  background: transparent url(../img/information.png) no-repeat top left;
}

form.tabbed fieldset.tabable {
  border: 0;
  padding: 0;
}
form.tabbed fieldset.tabable legend.tabable {
  display: none;
}
