.carousel {
  /* Дима???
  height: 14.68em;
  */

  height: 120px;
  overflow: hidden;
  width: 100%;
  margin: 1px 0;
  background-color: #faf5ec;
}
.carousel ul { list-style:none; list-style-position:outside; }
.carousel ul li { float:left; }
/* ---------------------------------------------------------------------------------------------------------------- */			

.carousel-control {
  position: absolute;
  top: 6px;
  left: 19px;
  margin: 0 !important;
}
