* {font-family: Arial, Helvetica, sans-serif;}

html, body {height: 100%;}

body {
  min-width: 1000px;
    margin: 0;
    padding: 0;
  text-align: left;
  font-size: 83%;
  color: #333333;
  background-color: #FFFFFF;
  behavior: url(csshover2.htc);
}

form, p, img, ul, ol, h1, h2, h3, h4, h5, h6, table, td, th {
  margin: 0;
  padding: 0;
  border: 0;
}

table {font-size: 100%;}

a {
  text-decoration: underline;
  color: #158eff;
}

a:hover {text-decoration: none;}

.tip {
  position: relative;
  text-decoration: none;
  border-bottom: 1px dashed;
}

a.tip:hover,
a:hover .tip {border-bottom: none;}

i {width: 99%;}

img.png {
  behavior: url(png.htc);
  position: relative;
}

#preloaded_images {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
}

#all {
  height: auto;
  _height: 100%;
  min-height: 100%;
  margin: 0 30px -65px 30px;
}

.spacer {
  clear: both;
  height: 0;
  _margin-top: -2px;
  font-size: 0;
}

html>body .spacer_not_ie {
  clear: both;
  height: 0;
  font-size: 0;
}

.hidden {display: none;}

/*top - begin*/
#top_toolbar {
  height: 45px;
  padding-top: 7px;
  font-size: 93%;
}

#top_toolbar .greeting {float: left;}

#top_toolbar .right {
  float: right;
  margin-top: -2px;
}

#top_toolbar .right a {
  margin-left: 36px;
  float: left;
}

#top_toolbar .right a.tip {
  cursor: help;
  color: #009900;
  border-color: #009900;
}

#top_toolbar .right a#lnk_update {
  height: 19px;
  padding: 1px 0 3px 23px;
  position: relative;
  color: #ff7800;
  background: url(../img/siteimage/ico_update.gif) left 2px no-repeat;
}

#top_toolbar .right a#lnk_exit {color: #ff3000;}

ul#top_menu {
  height: 122px;
  font-size: 93%;
}

ul#top_menu li {
  float: left;
  margin-right: 5px;
  padding-bottom: 4px;
  list-style: none;
}

ul#top_menu li a {
  width: 102px;
  height: 92px;
  display: block;
  text-align: center;
}

ul#top_menu li a span {
  height: 55px;
  display: block;
  cursor: pointer;
  background: center center no-repeat;
}

ul#top_menu li:hover,
ul#top_menu li.current {background: url(../img/siteimage/top_menu_arrow.gif) center bottom no-repeat;}

ul#top_menu li:hover a,
ul#top_menu li.current a {
  color: #000000;
  background-color: #e4ecee;
}
/*top - end*/

/*center - begin*/
#content_wrapper {
  padding-left: 222px;
}

#center {
  width: 100%;
  min-height: 1px;
  float: right;
  position: relative;
}

#center p {margin-bottom: 5px;}

#center .tb_1,
#center .tb_2 {clear: both;}

#center .tb_1 {
  height: auto;
  _height: 22px;
  min-height: 22px;
  margin-bottom: 4px;
  padding: 3px;
  font-size: 93%;
  background-color: #e4ecee;
}

#center .tb_1 form {float: left;}

#center .tb_1 input,
#center .tb_1 select {
  margin-left: 3px;
  font-size: 14px;
}
#center .tb_1 select {
  width: 200px;
}

#center .tb_1 input.search_field {
  width: 150px;
  height: 16px;
  margin: 0;
  _margin-top: 1px;
  padding: 2px 0 0 8px;
  font-size: 12px;
  color: #848484;
}

#center .tb_1 .ctrl_left {
  float: left;
}

#center .tb_1 .ctrl_right {
  float: right;
  padding-right: 16px;
  text-align: right;
}

#center .tb_1 .ctrl_right a {
  height: 22px;
  line-height: 22px;
  display: block;
  margin-left: 33px;
  float: left;
  padding-left: 20px;
  text-decoration: none;
  background: left center no-repeat;
}

#center .tb_1 .ctrl_right a.ctrl_sort {
  background-image: url(../img/siteimage/ico_sort.gif);
}

#center .tb_1 .ctrl_right a.ctrl_filter {
  background-image: url(../img/siteimage/ico_filter.gif);
}

#center .tb_2_top {
  padding-bottom: 4px;
  background: url(../img/siteimage/ico_arrow_1.gif) 20px bottom no-repeat;
}

#center .tb_2_btm {
  margin-top: 9px;
  padding-top: 4px;
  background: url(../img/siteimage/ico_arrow_2.gif) 20px top no-repeat;
}

#center .tb_2 .tb_2_inside {
  height: auto;
  _height: 25px;
  min-height: 25px;
  padding: 1px;
  background-color: #ecece9;
}

#center .tb_2 .ctrl_left {
  float: left;
  line-height: 22px;
  padding-left: 12px;
  font-size: 85%;
}

#center .tb_2 .action_select {
  height: 100%;
  margin-right: 6px;
  _margin-right: 3px;
  float: right;
}

#center .tb_2 .action_select a.as_link {
  padding: 0 11px;
  _padding-right: 15px;
  line-height: 23px;
  display: block;
  text-decoration: none;
  outline: none;
  background-color: #f4f4f3;
  border: 1px solid #7f7f7c;
}

#center .tb_2 .action_select a.as_link span.arrow {
  width: 4px;
  height: 23px;
  display: block;
  float: left;
  position: relative;
  margin-right: -4px;
  left: -12px;
  background: url(../img/siteimage/tb_2_select_arrow.gif) left center no-repeat;
}

#center .tb_2 ul.as_actions {
  width: 117px;
  position: absolute;
  margin-top: -1px;
  padding: 0 11px;
  _padding-right: 15px;
  background-color: #f4f4f3;
  border: 1px solid #7f7f7c;
}

#center .tb_2 ul.as_actions li {
  list-style: none;
  margin-bottom: 5px;
  font-size: 93%;
}

form.tabbed ul.ftabber-tabs li {
  list-style: none;
  float: left;
}
form.tabbed ul.ftabber-tabs li a {
  display: block;
  padding: 5px 16px 6px 15px;
  color: #000000;
}
form.tabbed ul.ftabber-tabs li.active a {
  text-decoration: none;
  background-color: #e4ecee;
}
form.tabbed .tab-content {
  padding: 4px 0 0 0;
  clear: both;
  border: none;
  border-top: 2px solid #e4ecee;
  margin-bottom: 4px;
}

#center .intro {
  margin-bottom: 4px;
  padding: 12px 14px 14px 14px;
  font-style: italic;
  background-color: #fffff5;
  border: 1px solid #e4ecee;
}

#center table {
  width: 100%;
  border-collapse: collapse;
  border-left: 1px solid #FFFFFF;
}

#center table.highlight tr.current {background-color: #f4f4f2;}

#center table.highlight tr:hover td {background-color: #ecf1f2;}

#center table th,
#center table td {
  text-align: left;
  border-left: 1px dashed #e3e2e1;
}

#center table th {
  padding: 3px 10px 4px 10px;
  font-weight: bold;
  border-bottom: 1px solid #333333;
}

#center table td {
  padding: 4px 10px 7px 10px;
  border-bottom: 3px solid #FFFFFF;
}

#center .control {
  margin-bottom: 15px;
  width: 390px;
}
#center .control.control-DocListControl-wrapper {
  width: 100%;
}

#center .control label {
  display: block;
  margin-bottom: 4px;
  font-weight: bold;
}
#center .control label.normal {
  font-weight: normal;
}

#center .control label span.required-label {color: #ff3000;}

#center .control .form-text {
  width: 100%;
  margin-bottom: 6px;
  padding-left: 5px;
  border: 1px solid #a7a6aa;
}
#center .control .form-title {
  font-size: 2em;
  padding-top: 2px;
  padding-bottom: 2px;
}
#center .control .form-title:hover {
  background-color: #ffffbf;
}

#center .control textarea {
  font-size: 100%;
}
form textarea.resizable {
  line-height: 1.25em;
  min-height: 5em;
}

#center .control .note {color: #a7a6aa;}

#center .control-TypeBool-wrapper {margin-bottom: 11px;}

#center .control-TypeBool-wrapper label {display: inline;}

#center .control-TypeSubmit-wrapper {margin-top: 29px;}

#center #tab_properties {margin-top: 25px;}

#center .pager {
  margin-top: 12px;
  clear: both;
  font-size: 85%;
}

#center .pager .pager_left {float: left;}

#center .pager a {
  display: block;
  float: left;
  padding: 3px 9px;
}

#center .pager a:hover,
#center .pager a.current {
  font-weight: bold;
  text-decoration: none;
  color: #000000;
  background-color: #ecece9;
}

#center .pager .pager_right {
  float: right;
  margin-right: -12px;
}

#center .pager .pager_right p {
  padding: 3px 12px 0 12px;
  float: left;
}

#left_sidebar {
  width: 195px;
  padding-right: 27px;
  float: right;
  margin-left: -222px;
  position: relative;
  font-size: 93%;
}

#left_sidebar h4 {
  margin-bottom: 11px;
  font-size: 117%;
  font-weight: bold;
}

#left_sidebar .menu_block {
  margin-bottom: 16px;
  padding: 8px 10px;
  background-color: #e4ecee;
}

#left_sidebar .menu_block ul {margin-left: 12px;}

#left_sidebar .menu_block ul.add_remove {margin-top: 22px;}

#left_sidebar .menu_block ul li {
  list-style: none;
  margin-bottom: 11px;
}

.jqmw {text-align: left;}

.jqmw h2 {margin-bottom: 10px;}

.jqmw ul {margin-left: 15px;}

.jqmw ul li {
  list-style: none;
  font-size: 117%;
}

.jqmw a {
  float: none !important;
  margin-left: 0 !important;
  padding: 0 !important;
}
/*center - end*/

/*footer - begin*/
#footer_spacer {
  height: 65px;
  clear: both;
}

#footer {
  height: 45px;
  margin: 0 30px;
  padding-top: 20px;
  font-size: 93%;
  color: #414141;
}

#footer img {margin-right: 6px;}

#footer span {margin-left: 12px;}
/*footer - end*/

#contentTable img.filepreview {
  margin-right: 4px;
  float: left;
}

.control-AttachmentControl-wrapper .separator {
  border-bottom: dashed gray 2px;
}
.control-AttachmentControl-wrapper table td {
  vertical-align: top;
}

.control-AttachmentControl-wrapper table div {
  font-weight: bold;
  width: 100px;
  height: 50px;
}

.control-FieldControl-wrapper td {
  vertical-align: top;
}
.control-FieldControl-wrapper .selector {
  text-decoration: none;
  color: black;
}
.control-FieldControl-wrapper td.right {
  text-align: right !important;
}

#user-profile p {
  display: none;
}
#user-profile .form-submit {
  background: none;
  border: none;
  color: #ff3000;
  margin-left: 10px;
  cursor: pointer;
}
#user-profile .form-header,
#user-profile .intro {
  display: none;
}

a.bold {
  font-weight: bold;
}
