* {font-family: Arial, Helvetica, sans-serif;}

html, body {height: 100%;}

body {
  min-width: 770px;
  margin: 0;
  padding: 0;
  text-align: left;
  font-size: 83%;
  behavior: url(../csshover2.htc);
}

form, p, img, ul, ol, h1, h2, h3, h4, h5, h6, table, td, th {
  margin: 0;
  padding: 0;
  border: 0;
}

table {font-size: 100%;}

a {
  text-decoration: underline;
}

a:hover {text-decoration: none;}

.tip {
  position: relative;
  text-decoration: none;
  border-bottom: 1px dashed;
}

a.tip:hover,
a:hover .tip {border-bottom: none;}

i {width: 99%;}

img.png {
  behavior: url(../png.htc);
  position: relative;
}

#preloaded_images {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
}

#all {
  height: auto;
  _height: 100%;
  min-height: 100%;
  margin: 0 30px -65px 30px;
}

.spacer {
  clear: both;
  height: 0;
  _margin-top: -2px;
  font-size: 0;
}

html>body .spacer_not_ie {
  clear: both;
  height: 0;
  font-size: 0;
}

.hidden {display: none;}

/*top - begin*/
#top_toolbar {
  height: 20px;
  padding: 7px 15px 0;
  font-size: 93%;
}

#top_toolbar .greeting {float: left;}

#top_toolbar .right {
  float: right;
  margin-top: -2px;
}

#top_toolbar .right a {
  margin-left: 15px;
  float: left;
}

#top_toolbar .right a.tip {
  cursor: help;
}

#top_toolbar .right a#lnk_update {
  height: 19px;
  padding: 1px 0 3px 23px;
  position: relative;
  background: url(../img/siteimage/ico_update.gif) left 2px no-repeat;
}

/*top - end*/

#center {
  width: 100%;
  min-height: 1px;
  float: right;
  position: relative;
}

#center .star {
	width: 15px;
	height: 15px;
	display: block;
	position: absolute;
	margin: 5px 0 0 -22px;
	font-size: 0;
	background-image: url(../img/siteimage/ico_star_dark.gif);
}

#center .star:hover {background-image: url(../img/siteimage/ico_star_light.gif);}

#center p {margin-bottom: 5px;}

#center .tb_1,
#center .tb_2 {clear: both;}

#center .tb_1 {
  height: auto;
  _height: 22px;
  min-height: 22px;
  margin-bottom: 4px;
  padding: 3px;
  font-size: 93%;
}

#center .tb_1 form {float: left;}

#center .tb_1 input,
#center .tb_1 select {
  margin-left: 3px;
  font-size: 14px;
}
#center .tb_1 select {
  width: 200px;
}

#center .tb_1 input.search_field {
  width: 150px;
  height: 16px;
  margin: 0;
  _margin-top: 1px;
  padding: 2px 0 0 8px;
  font-size: 12px;
}

#center .tb_1 .ctrl_left {
  float: left;
}

#center .tb_1 .ctrl_right {
  float: right;
  padding-right: 16px;
  text-align: right;
}

#center .tb_1 .ctrl_right a {
  height: 22px;
  line-height: 22px;
  display: block;
  margin-left: 33px;
  float: left;
  padding-left: 20px;
  text-decoration: none;
  background: left center no-repeat;
}

#center .tb_1 .ctrl_right a.ctrl_sort {
  background-image: url(../img/siteimage/ico_sort.gif);
}

#center .tb_1 .ctrl_right a.ctrl_filter {
  background-image: url(../img/siteimage/ico_filter.gif);
}

#center .tb_2_top {
  padding-bottom: 4px;
  background: url(../img/siteimage/ico_arrow_1.gif) 20px bottom no-repeat;
}

#center .tb_2_btm {
  margin-top: 9px;
  padding-top: 4px;
  background: url(../img/siteimage/ico_arrow_2.gif) 20px top no-repeat;
}

#center .tb_2 .tb_2_inside {
  height: auto;
  _height: 25px;
  min-height: 25px;
  padding: 1px;
}

#center .tb_2 .ctrl_left {
  float: left;
  line-height: 22px;
  padding-left: 12px;
  font-size: 85%;
}

#center .tb_2 .action_select {
  height: 100%;
  margin-right: 6px;
  _margin-right: 3px;
  float: right;
}

#center .tb_2 .action_select a.as_link {
  padding: 0 11px;
  _padding-right: 15px;
  line-height: 23px;
  display: block;
  text-decoration: none;
  outline: none;
}

#center .tb_2 .action_select a.as_link span.arrow {
  width: 4px;
  height: 23px;
  display: block;
  float: left;
  position: relative;
  margin-right: -4px;
  left: -12px;
  background: url(../img/siteimage/tb_2_select_arrow.gif) left center no-repeat;
}

#center .tb_2 ul.as_actions {
  width: 117px;
  position: absolute;
  margin-top: -1px;
  padding: 0 11px;
  _padding-right: 15px;
}

#center .tb_2 ul.as_actions li {
  list-style: none;
  margin-bottom: 5px;
  font-size: 93%;
}

form.tabbed ul.ftabber-tabs li {
  list-style: none;
  float: left;
}
form.tabbed ul.ftabber-tabs li a {
  display: block;
  padding: 5px 16px 6px 15px;
}
form.tabbed ul.ftabber-tabs li.active a {
  text-decoration: none;
}
form.tabbed .tab-content {
  padding: 4px 0 0 0;
  clear: both;
  border: none;
  margin-bottom: 4px;
}

#center .intro {
  margin-bottom: 4px;
  padding: 4px 14px 14px 32px;
  font-style: italic;
  background: transparent url(../img/idea.png) no-repeat top left;
}
#center .intro p {
  margin-top: 1em;
}

table.mcms,
table.padded {
  border-collapse: collapse;
}

table.mcms.nodelist th,
table.mcms.nodelist td {
  text-align: left;
}

table.mcms th,
table.padded {
  padding: 3px 10px 4px 10px;
}
table.mcms.nodelist th {
  font-weight: bold;
  border-bottom: 1px solid #aaa;
}

table.mcms td,
table.padded td {
  padding: 4px 10px 7px 10px;
}
table.mcms.nodelist td {
  border-bottom: 3px solid #FFFFFF;
}

#center .control {
  margin-bottom: 15px;
  width: 390px;
}
#center .control.control-DocListControl-wrapper {
  width: 100%;
}

#center .control label {
  display: block;
  margin-bottom: 4px;
  font-weight: bold;
}
#center .control label.normal {
  font-weight: normal;
}

#center .control .form-text {
  width: 100%;
  margin-bottom: 6px;
  padding: 4px 6px;
  border: 1px solid #a7a6aa;
}
#center .control .form-title {
  font-size: 2em;
  padding-top: 2px;
  padding-bottom: 2px;
}

#center .control textarea {
  font-size: 100%;
}
form textarea.resizable {
  line-height: 1.25em;
  min-height: 5em;
}

#center .control-TypeBool-wrapper {margin-bottom: 11px;}

#center .control-TypeBool-wrapper label {display: inline;}

#center .control-TypeSubmit-wrapper {margin-top: 29px;}

#center #tab_properties {margin-top: 25px;}

#center .pager {
  margin-top: 12px;
  clear: both;
  font-size: 85%;
}

#center .pager .pager_left {float: left;}

#center .pager a {
  display: block;
  float: left;
  padding: 3px 9px;
}

#center .pager a:hover,
#center .pager a.current {
  font-weight: bold;
  text-decoration: none;
}

#center .pager .pager_right {
  float: right;
  margin-right: -12px;
}

#center .pager .pager_right p {
  padding: 3px 12px 0 12px;
  float: left;
}

#left_sidebar {
  width: 195px;
  padding-right: 27px;
  float: right;
  margin-left: -222px;
  position: relative;
  font-size: 93%;
}

#left_sidebar h4 {
  margin-bottom: 11px;
  font-size: 117%;
  font-weight: bold;
}

#left_sidebar .menu_block ul {margin-left: 12px;}

#left_sidebar .menu_block ul.add_remove {margin-top: 22px;}

#left_sidebar .menu_block ul li {
  list-style: none;
  margin-bottom: 11px;
}
/*center - end*/

/*footer - begin*/
#footer_spacer {
  height: 65px;
  clear: both;
}

#footer {
  height: 45px;
  margin: 0 30px;
  padding-top: 20px;
  font-size: 93%;
}

#footer img {margin-right: 6px;}

#footer span {margin-left: 12px;}
/*footer - end*/

#contentTable img.filepreview {
  margin-right: 4px;
  float: left;
}

.control-AttachmentControl-wrapper .separator {
  border-bottom: dashed gray 2px;
}
.control-AttachmentControl-wrapper table td {
  vertical-align: top;
}

.control-AttachmentControl-wrapper table div {
  font-weight: bold;
  width: 100px;
  height: 50px;
}

.control-FieldControl-wrapper td {
  vertical-align: top;
}
.control-FieldControl-wrapper .selector {
  text-decoration: none;
}
.control-FieldControl-wrapper td.right {
  text-align: right !important;
}

a.bold {
  font-weight: bold;
}

.control-AttachmentControl-wrapper .attctl {
  margin: 4px 0;
}

.newlink {
  margin-left: .5em;
}

td.nowrap {
  white-space: nowrap;
}

.jsonly {
  display: none;
}

#content_wrapper {
  padding-top: 10px;
}

#center h2 {
  font-weight: normal;
  font-size: 20pt;
  margin: 0 0 .3em;
}

.modlist th {
  font-weight: normal;
  font-size: 1.5em;
}

.nodelist .editlink {
  background: transparent url(../img/icon-edit.png) no-repeat top left;
  display: block;
  width: 16px;
  height: 16px;
}
.nodelist .editlink span {
  display: none;
}

.nodelist .icon {
}
.nodelist .actions {
}
.nodelist .actions a {
  margin: 0 0 0 2px;
}

.helpmsg {
  margin: .5em 0 1em;
  font-style: italic;
  padding: 4px 10px;
}

label.radio input {
  float: left;
  clear: left;
}
label.radio span {
  font-weight: normal;
  margin: .5em 0 .5em 2em;
  display: block;
}
legend.radio {
  font-size: 1.5em;
}

/* Подсветка идентификаторов пользователей */
table.nodelist a.openid {
  padding-left: 20px;
  background: transparent url(../img/openid.png) no-repeat center left;
}
table.nodelist a.email {
  padding-left: 20px;
  background: transparent url(../img/email.png) no-repeat center left;
}

table.form-revision-history {
  border-collapse: collapse;
}
table.form-revision-history td {
  border: solid gray 1px;
  padding: 2px 4px;
}
table.form-revision-history tr.rev-active {
  font-weight: bold;
}
