html,
body { height:100%; }

.halfheight { height:50%; }
		
#form-user-login-form-wrapper { width:300px; height:260px; margin:0 auto; position:relative; top:-130px; overflow:hidden; }
	#form-user-login-form-wrapper fieldset { border:0; border-top:1px solid #ccc; padding:0; margin:0; padding-left:10px; padding-top:.665em; }
		#form-user-login-form-wrapper fieldset legend { font-size:1.17em; padding:0 10px; font-weight:bold; color:#666666; }
		
	#form-user-login-form-wrapper div.control { margin:.665em 0; }
		#form-user-login-form-wrapper div.control input.form-text { width:110px; border:1px solid #C2C2C2; background:#fff; padding:.2em .3em; font-size:1em; font-family:"Helvetica Neue", "Lucida Grande", Helvetica, Arial, Verdana, sans-serif; }
		
		#form-user-login-form-wrapper div.control label { width:60px; float:left; padding-top:.2em; }
		
		#form-user-login-form-wrapper #profile-remind-form div.control label { display:block; width:100%; margin-bottom:.665em; }
		#form-user-login-form-wrapper #profile-remind-form div.control input.form-text  { width:280px; }
		
	#form-user-login-form-wrapper div.control-SubmitControl-wrapper { margin-top:1.33em; }

#logo { margin:0 auto 1.92em auto; width:196px; height:40px; line-height:1.33em; font-size:1em;  }
#logo a { display:block; width:100%; height:100%; background:url(img/mcms.logo.png) no-repeat; }
#logo span { display:block; width:0; height:0; overflow:hidden; }

.restorepass_sh { margin-left:10px; }

form { display: none; }
form.active { display: block; }
