body {
  background-color: white;
  color: #333;
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: trebuchet ms, sans-serif;
}

h1 span {
  display: none;
}

h1 a {
  display: block;
  width: 200px;
  height: 94px;
  background: white url(../admin/img/cms-logo-landscape.png) no-repeat top left;
  margin: 64px auto 0;
}

.main {
  font-family: trebuchet ms, sans-serif;
  font-size: 20px;
  color: #9ACD65;
  letter-spacing: -1px;
  line-height: 18px;
}

label {
  font-weight: bold;
}

td.label {
  text-align: right;
}
td.control {
  text-align: left;
}

.highlight {
  color: black;
}

#ctluser, #ctlpass {
  border: solid gray 1px;
  padding: 2px;
}

.domainlist {
  width: 500px;
  text-align: left;
  margin: 0 auto;
}
.domainlist .hostname {
  font-weight: bold;
}
