/*
// Ресет
*/
	html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, 
	del, dfn, em, img, q, dl, dt, dd, ol, ul, li, form, label, legend, fieldset, table, caption, tbody, tfoot, thead, tr, th, td { 
		margin:0; padding:0; border:0; font-weight:inherit; font-style:inherit; font-size:100%; font-family:inherit; }
	
	a img { border:none; }