/**
 * Ordinary pages styling
*/
	/**
	 * Core
	*/
		body { background:#fff; }
		
		div.MenuWidget { width:15%; min-width:150px; float:left; display:inline; margin:256px 5% 0 5%; }
		
			div.MenuWidget ul { list-style:none outside; }
				div.MenuWidget ul li { margin-bottom:1.335em; }
					div.MenuWidget ul li.current a { color:#ff7a00; text-decoration:none; }
					
		div.ListWidget { width:50%; max-width:700px; float:left; display:inline; }
		
			div.ListWidget ul.articles { list-style:none outside; }
      div.ListWidget ol { margin-left: 2em; list-style-position: outside; }

	/**
	 * Supplementary rules
	*/
